@font-face {
    font-family: "Kaushan Script" ;
    src: url("../fonts/KaushanScript-Regular.ttf");
}

@font-face {
    font-family: "Montserrat" ;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Roboto Slab" ;
    src: url("../fonts/Roboto-Regular.ttf");
}